SECRET_KEY=django-insecure-change-me
DEBUG=True
ALLOWED_HOSTS=
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.mail.ru
EMAIL_PORT=465
EMAIL_USE_TLS=False
EMAIL_USE_SSL=True
EMAIL_TIMEOUT=60
EMAIL_HOST_USER=your-mailbox@mail.ru
EMAIL_HOST_PASSWORD=your-mail-ru-app-password
DEFAULT_FROM_EMAIL=your-mailbox@mail.ru
FEEDBACK_RECIPIENT_EMAIL=recipient@mail.ru