{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}KOSAGO.RU{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'users/style.css' %}">
  {% block extra_css %}{% endblock %}
<body>


  <div class="main-bg">
    <div class="main-bg__img"></div>
    <div class="main-bg__overlay"></div>
    <div class="main-bg__content">
      {% block body %}{% endblock %}
    </div>
  </div>

  {% block extra_js %}{% endblock %}
</body>
</html>
