{% extends "users/base.html" %}
{% block title %}Восстановление пароля{% endblock %}
{% block body %}
<div class="container">
  <h2>KOSAGO.RU</h2>
  <h2>Восстановление пароля</h2>

  {% if messages %}
    {% for message in messages %}
      <div class="messages {% if message.tags == 'success' %}success{% else %}error{% endif %}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Отправить</button>
  </form>
</div>
{% endblock %}
